## Extract Location and Restaurants table

In [26]:
import json
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import create_engine
from IPython.display import clear_output

database_credential = json.load(open('credentials.json'))
connection = create_engine(database_credential['db'])

def table(connection, table_name):
    sql = f'''select * from {table_name}'''
    df = pd.read_sql(sql,con=connection)
    return df

In [25]:
location = table(connection, 'location_data')
location.head(2)

      location restaurant
0  Mohammadpur    chillox
1    Dhanmondi    chillox

In [3]:
madchef = table(connection, 'madchef')
madchef.tail(2)

                    name price restaurant
41      Cookies n' Cream   299    madchef
42  French Vanilla Latte   299    madchef

In [4]:
pizzahut = table(connection, 'pizzahut')
pizzahut.tail(2)

            name price restaurant
55  Mountain Dew    32  Pizza Hut
56          7 UP    35  Pizza Hut

In [5]:
chillox = table(connection, 'chillox')
chillox.tail(2)

                                                 name  price restaurant
10  BINGE BEEFICHICKEN 2x Giant Beeli Chicken Patl...    680    chillox
11                     CHICKEN FINGERS (5 PCS/1O PCS)    130    chillox

In [6]:
restaurants = chillox.append(pizzahut).append(madchef).reset_index(drop=True)

# all_data = restaurants.merge(location, on='restaurant')
restaurants["price"] = pd.to_numeric(restaurants["price"])
restaurants.tail(2)

                     name  price restaurant
110      Cookies n' Cream    299    madchef
111  French Vanilla Latte    299    madchef

## Insights for data model

In [7]:
locations = list(set(location['location']))
print(locations)

print("Max price",max(restaurants['price']))
print("Min price",min(restaurants['price']))

products = list(set(restaurants['name']))

['Sony', 'Sylhet', 'Gulshan 2', 'Chittagong', 'RM Center', 'Wari', 'Mirpur 2', 'Banani', 'Shewrapara', 'Uttara', 'Aftabnagar', 'Mirpur', 'Bashundhara', 'Cox Bazar', 'Khilgaon', 'Adabor', 'Savar', 'Banasree', 'Baily Road', 'great empty', 'ভরপুর', 'in', 'Bailey Road', 'Bhatara', 'Basundhara', 'Gulshan', 'Mirpur TFC', 'Mohammadpur', 'Jamuna', 'Dhanmondi']
Max price 1479
Min price 25

In [8]:
print(products)

['Lemon Iced Tea', 'Red n Hot (GS)', "Madchef's FAV", 'Beef Lovers.', 'The Cuban', 'Ultimate Hot Chicken', 'Chicken Delight (GS)', 'Bbq Temptation (GS)', 'Bbq Blast', 'BBQ Chicken', 'The Dhakaiyya', 'Garlic Bread Spicy Supreme', 'Mango Habanero Grilled Chicken', "Cookies n' Cream", 'Just Milo', 'Spicy Basil Chicken', 'PEPSI', 'Beef Arabiatta', 'Signature Beef', 'Gyro Chicken over Rice', 'Veggie Supreme', 'BEEF/CHICKEN SIGNATURE 2x Beef/Chicken Patty; 2x Cheese, BeefiChicken Pastrami; Poached Egg', 'Chicken Classic (GS)', "Smokin' Chic", 'Madame Lucy', 'Buffalo', 'Gyro Chicken over Cajun Fries', 'BEEFICHICKEN SMOKY BBQ CHEESE BBQ Sauce Cooked Beef _ Chicken Patly: Cheese', 'CHOOSE YOUR SAUCE LEVEL', 'Roast Chicken', 'Spicy Chicken (C.B)', 'Mountain Dew', 'Cake In My Shake', 'Mushroom', 'Beef Lovers (C.B)', 'Chicken Supreme.', 'Creamcheez Stuffed Chicken', '7 UP', 'The BIG Rob', 'BINGE BEEFICHICKEN 2x Giant Beeli Chicken Patly; Smoked Chicken; Chicken Ham; 3x Cheese', 'Classic Margherita', 'The Wroks (GS)', 'Spicy Garlic Mushrooms', 'Red N Hot.', 'Chicken Classic (Thin Crust)', 'Chicken Exotica', 'Creamy Mushroom Stuffed Chicken', 'Double Cheese', 'Lime Refreshmint', 'Achari Fried Rice', 'Spicy Chicken (GS)', 'Chicken Delight (C.B)', 'ADD SOME TOPPINGS 25 TK Teriyaki Sauce 25 TK Egg 30 TK Pepperoni 70 TK 0 Patty', 'The HAWK', 'Chicken Delight.', 'BEEFICHICKEN WIth CHEESE BeefiChicken Patty: Cheese, Special Sauce', 'Supreme.', 'Garlic Bread', 'Chicken Arabiatta', 'Mighty Spicy Chic', 'Strawberry Caipirinha', 'French Vanilla Latte', 'CHICKEN FINGERS (5 PCS/1O PCS)', 'Triple Chicken Feast', 'Red N Hot (Thin Crust)', 'Mushroom Melt', 'Garlic Bread Exotica', 'Kala Bhuna Deluxe (GS)', 'Bbq Temptation (Thin Crust)', 'Naga-Tastic', 'Fries - Salt & Pepper', 'Crispy Chicken & Bacon', 'BRIOCHE BUN', 'Chicken Cheese Bombs', 'Beef Pepperoni', 'Cheesy Garlic Sticks', 'BEEFICHICKEN WITH SAUSAGE BeefiChicken Patty; 2x Chicken Sausage, Cheese', 'Classic Chicken Sausage', 'Beef Lovers (GS)', 'BEEFICHICKEN WITH BACON BeefiChicken Patty; Beef Bacon', 'The Works', 'Spicy Cajun Fries', 'Signature Chicken', 'Peanut Butter', 'Red N Hot (C.B)', 'Garlic Bread Sticks', 'Smoky Grilled Buzz', 'Nutella Madness', 'Chicken Classic.', 'Onion Rings', 'FRENCH FRIES (REGULARILARGE)', 'Garlic bread with cheese', 'Paneer Sticks', 'Cheese 0 BBQ Sauce Sausage Beef Bacon', 'Bbq Temptation .', 'Baked-Chicken Arabiatta', 'Spicy Beef.', 'Honey Limade', 'Supreme (GS)', 'Spicy Kala Bhuna', 'Spicy Chicken.', 'Honey Garlic', 'Chicken Mushroom', 'Baked Potato Wedges', 'Baked-Chicken Mushroom', 'Mad Monster', 'Shah Poutine', 'Classic Beef', 'Original', 'Chicken Steak Meal', 'Veggie Lovers']

## Data model

In [9]:
food_list = products
food_list = [item.replace("'","").strip() for item in input(f"Enter foods from the list : {products}").split(",")]
clear_output()

In [10]:
min_price, max_price = 0, 10000000000
min_price = int(input("Enter minimum price range: "))
max_price = int(input("Enter maximum price range: "))

Enter minimum price range:  100
Enter maximum price range:  600

In [11]:
location_list = locations
location_list = [item.replace("'","").strip() for item in input(f"Enter prefered locations : {locations}").split(",")]
clear_output()

# algorithm

In [12]:
# Filtering data by preferrer location
location_filter = location[location['location'].isin(location_list)]

# Filtering data by preffered food
food_filter = restaurants[restaurants['name'].isin(food_list)]

# Filtering data within the price range
price_filter = food_filter[(food_filter['price']>=min_price) &  (food_filter['price']<=max_price)].reset_index(drop=True)

# Filtering restaurants from perffered locations and providing the best result
location_filtered = list(set(location_filter['restaurant']))
final_data = price_filter[price_filter['restaurant'].isin(location_filtered)]
final_data

                                                 name  price restaurant
0                                         BRIOCHE BUN    300    chillox
1   ADD SOME TOPPINGS 25 TK Teriyaki Sauce 25 TK E...    320    chillox
2                      CHICKEN FINGERS (5 PCS/1O PCS)    130    chillox
3                                  Classic Margherita    179  Pizza Hut
4                                     Chicken Exotica    329  Pizza Hut
5                                       Double Cheese    329  Pizza Hut
6                                          Red N Hot.    429  Pizza Hut
7                                            Supreme.    429  Pizza Hut
8                                    Chicken Delight.    429  Pizza Hut
9                                Triple Chicken Feast    479  Pizza Hut
10                                  Chicken Arabiatta    369  Pizza Hut
11                                       Garlic Bread    189  Pizza Hut
12                             Spicy Garlic Mushrooms    489  Pizza Hut
13                               Garlic Bread Exotica    339  Pizza Hut
14                               Chicken Cheese Bombs    299    madchef
15                              Fries - Salt & Pepper    139    madchef
16                             Spicy Garlic Mushrooms    269    madchef
17                                        Naga-Tastic    399    madchef
18                                      Mushroom Melt    379    madchef
19                                  Mighty Spicy Chic    449    madchef
20                             Crispy Chicken & Bacon    439    madchef
21                    Creamy Mushroom Stuffed Chicken    497    madchef
22                                  Achari Fried Rice    299    madchef
23                              Strawberry Caipirinha    279    madchef
24                                   Lime Refreshmint    179    madchef
25                               French Vanilla Latte    299    madchef